.hotels_list {
    width: 664px;
    height: calc(902px - 92px);
    padding: 48px 32px;
    background: #ffffff;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hotel {
    display: flex;
    align-items: center;
}

.arrow {
    margin: 0 20px;
}

.city {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #424242;
}

.date {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #41522e;
}

.favorites {
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    color: #424242;
    margin-bottom: 20px;
}

.favorites span {
    font-weight: 500;
    margin-left: 8px;
}

.hotels {
    overflow-y: auto;
    height: calc(521px - 92px);
}

.hotels::-webkit-scrollbar {
    width: 2px;
}

.hotels::-webkit-scrollbar-track {
    background: #e7e7e7;
}

.hotels::-webkit-scrollbar-thumb {
    background: #41522e;
    border-radius: 2px;
}
